.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;

  width:90%;
  margin:auto;
}
.container div{
  border-radius: 10px;
  border: 2px solid pink;
}
.App{
  text-align: center;
}